{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block navigationbar %}
<div class="topnav">
    <a class = "active" href={{url_for('index')}}>Home</a>
    <a href={{url_for('analyst')}}>Analyst View</a>
    <a href={{url_for('stocks')}}>Hot Stocks</a>
    <a href="{{url_for('recommendation')}}">Recommendations</a>
    <a href="#about">About</a>
    </div>
<div class="container">
{% endblock %}


{% block forms %}
<h1>Okay works</h1>
{% endblock %}   

{% block df %}

{% endblock %}
